<!-- your html code here -->
 <div>
  
 </div>
  <div class="container m-5">
    <section id="contact" class="text-start col-md-12">
      <h2>Contact</h2>
      <p class="fw-lighter">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Present commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </section>

    <div class="row d-flex justify-content-center">
      <div class="col-md-9 bg-body-tertiary border w-75 ">
      <form>
    <div class="row mt-2">
      <label for="email" class="text-end col-sm-3 col-form-label"><strong>Your E-mail</strong></label>
      <div class="col">
        <input type="email" class="form-control" id="email" placeholder="Your email">
      </div>
    </div>
  
    <div class="row mt-3">
      <label for="message" class="text-end col-sm-3 col-form-label"><strong>Your Message</strong></label>
      <div class="col">
        <textarea class="form-control" id="message" rows="4" placeholder="Please enter your message here..."></textarea>
      </div>
    </div>

    <div class="row ">
      <div class="col mt-1 p-3">
      <div class=" text-end">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
  </form>
</div>
</div>
      </div>