<!-- your html code here -->
<div class="container m-5 text-center justify-content-center">
    <div class="row text-center justify-content-center">
    <div class="text-start col-md-9">
        <h2>
        <span>This First Heading</span> <span class="text-secondary">Will Catch Your Eye</span>
        </h2>
        <p class="fw-lighter">Donec ullamcorper nulla non metus auctor tringilla. vestibulum la ligula porta felis euismod semper. Praesent commodo cursus maona, vel scelersoue nisi consectetur. rusce aaolous, tellus ac cursus commoao.</p>
    </div>
    <div class="text-start col-md-3">
            <img class="img-fluid object-fit-contain rounded-circle" src="assets/img/1.jpg">
    </div>
</div>
</div>