<!-- your html code here -->

<div class="container m-5">
    <section id="contact" class="text-start col-md-12">
      <h2>Portfolio</h2>
      <p class="fw-lighter">Donec ullamcorper nulla non metus auctor tringilla. vestibulum la ligula porta felis euismod semper. Praesent commodo cursus maona, vel scelersoue nisi consectetur. rusce aaolous, tellus ac cursus commoao.</p>
    </section>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col ">
          <div class="rounded-0 border border-0">
            <img style="height: 200px;" src="https://georgianrecipes.com/media/default/700x400.png" class="card-img-top bg-secondary mb-3 border border-0" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text fs-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui vitae incidunt veritatis, hic aspernatur mollitia, praesentium, iure molestias dolores quas quia natus ex. Iusto aut animi eaque eius nemo ad?</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="rounded-0 border border-0">
            <img style="height: 200px;" src="https://georgianrecipes.com/media/default/700x400.png" class="card-img-top bg-secondary mb-3 border border-0" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text fs-6"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui vitae incidunt veritatis, hic aspernatur mollitia, praesentium, iure molestias dolores quas quia natus ex. Iusto aut animi eaque eius nemo ad?</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="rounded-0 border border-0">
            <img style="height: 200px;"src="https://georgianrecipes.com/media/default/700x400.png" class="card-img-top bg-secondary mb-3 border border-0" alt="...">
            <div class="card-body">
              <h5 class="card-title text-primary">Project Name</h5>
              <p class="card-text fs-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui vitae incidunt veritatis, hic aspernatur mollitia, praesentium, iure molestias dolores quas quia natus ex. Iusto aut animi eaque eius nemo ad?</p>
            </div>
          </div>
        </div>
      </div>
      </div>
      