<!-- your html code here -->
<div class="container m-5">
    <div class="row">
    <div class="text-start col-md-3">
            <img class="img-fluid object-fit-contain rounded-circle" src="assets/img/2.jpg">
    </div>
    <div class="text-start col-md-9">
        <h2>
        <span>The Second Heading</span> <span class="text-secondary">Is Pretty Cool Too.</span>
        </h2>
        <p class="fw-lighter">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
            Fusce caribus. tellus ac cursus commodo.</p>
    </div>
</div>
</div>